* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Logo{
opacity: 0.7; 
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: -1; 
}

body{
    background-color: #242325;
}

#form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5%;
}